    <div class="container-fluid">
      <div class="navbar-header ">     
          <%= image_tag("framgia_logo.png", :alt => "rss feed",height: 120) %>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/static_pages/home">Home</a></li>
        <li><a href="/static_pages/about">About</a></li>
        <li><a href="/static_pages/help">Help</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>